.idea
.vscode
*.log
*.nohup
*.bkup
*.properties
**/.idea
**/target
**/venv
**/__pycache__
**/_libs_
**/*_small.csv
dependency-reduced-pom.xml
aiml/vertex-ai/conf/pulsar-function
notes.txt
gcp_service_account.json
secure-connect-*.zip
client.conf