.idea
.vscode
*.log
*.nohup
*/.idea
*/*/.idea
*/target
*/*/target
*/*/*/target
*/*/*/*/target/*
*/*/*/*/*/target/*
*/*/*/*/*/*/target/*
dependency-reduced-pom.xml
aiml/vertex-ai/conf/pulsar-function
notes.txt
*/*/__pycache__
*/*/libs
*/*/*/libs
*/*/*/*/libs
gcp_service_account.json
secure-connect-*.zip
client.conf